<%- include('../includes/head.ejs') %>
</head>

<body>
   <%- include('../includes/navigation.ejs') %>
    <div class="background">
    <main>
      
            <form class="login-form" action="/login" method="POST">
                <div class="form-control">
                    <label for="email">E-Mail</label>
                    <input
                        type="email" 
                        name="email" 
                        id="email" 
                        >
                </div>
                <div class="form-control">
                    <label for="password">Mật khẩu</label>
                    <input 
                       
                        type="password" 
                        name="password" 
                        id="password" 
                        >
                </div>
                <button class="btn" type="submit">Đăng nhập</button> 
            </form>
    </main>
</div>
<%- include('../includes/end.ejs') %>